<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Instagram - popular media</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h3>Instagram - popular media</h3>
  <%= yield %>
</body>
</html>