body {
  margin-left: 75px;
  font-family: Gill Sans;
}

img {
  height: 320px;
  width:  320px;
}

.tweet {
  width: 320px;
}

.attribution {
  width: 320px;
}

.box {
  display: inline-block;
  height: 381px;
}